* {
    color: blue;
    text-align: center;
    font-size: 50px;
    background-color: black;
}

#highlight {
    color: aqua;
    font-weight: bolder;
    font-size: 50px;
}

h2 {
    color: red;
    font-weight: bolder;
}

#blah {
    color: azure;
}

#way {
    color: blueviolet;
}